<p id="notice"><%= notice %></p>

<p>
  <b>Member:</b>
  <%= @card.member_id %>
</p>

<p>
  <b>Active:</b>
  <%= @card.active %>
</p>


<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
