<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @member.name %>
</p>

<p>
  <b>Points:</b>
  <%= @member.points %>
</p>

<p>
  <b>Membertype:</b>
  <%= @member.membertype_id %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
